.list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100wh;
}
.noAddedYet{
  text-align: center;
  font-style: italic;
}