$primary-color-background:linear-gradient(to right, #26836e, #246780);
$button-color: #0dafaf;
$button-color-hover: #00ffc4;
$places-card-bg: linear-gradient(to right, #44ba5e, #82d19c);
$box-shadow: -2px 2px 2px #000000;

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid #f1f1f1;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
@keyframes changeBgColor {
  0% {
    background-color: $button-color;
  }
  100% {
    background-color: $button-color-hover;
  }
}
@keyframes revertBgColor {
  0% {
    background-color: $button-color-hover;
  }
  100% {
    background-color: $button-color;
  }
}